<div class="center-form panel">
  <div class="panel-body">
    <h2 class="text-center">Forgot Password?</h2>
    <form method="post" ng-submit="forgot()" name="forgotForm">
      <div class="form-group has-feedback" ng-class="{ 'has-error' : forgotForm.email.$invalid && forgotForm.email.$dirty }">
        <input class="form-control input-lg" type="email" id="email" name="email" ng-model="email" placeholder="Your Email" required
        ng-pattern="emailRegex">
        <span class="ion-at form-control-feedback"></span>
        <div class="help-block text-danger" ng-if="forgotForm.email.$dirty" ng-messages="forgotForm.email.$error">
          <div ng-message="required">Your email address is required.</div>
          <div ng-message="pattern">Your email address is invalid.</div>
        </div>
      </div>

      <p class="text-center">We will email you a link to reset your password.</p>

      <button type="submit" ng-disabled="forgotForm.$invalid" class="btn btn-lg btn-block btn-primary">Reset Password</button>
    </form>
  </div><!-- /panel-body -->
</div><!-- /panel -->

